@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");
body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

img {
  filter: none;
  mix-blend-mode: normal;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.wrapper {
  margin: 34px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.--grey {
  background-color: #ebebeb !important;
  color: #272727 !important;
}

.banner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 40px;
  padding: 34px;
  color: #272727;
  gap: 100px;
}
.banner__bottom {
  border-radius: 40px;
}
.banner__column {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.banner.--target {
  gap: 30px;
  padding: 0;
}
.banner.--cta {
  background-color: #0a0a0a;
  color: #fff;
  justify-content: space-between;
}
.banner.--case {
  background-color: #0B1D24;
  color: #fff;
}
.banner.--photo-trim {
  padding: 0;
  max-height: 1100px;
}
.banner__section {
  display: flex;
  justify-content: flex-start;
  z-index: 5;
  border-radius: 40px;
}
.banner__section.--flex .banner__photo {
  width: 100%;
}
.banner__section.--flex .banner__photo img {
  transform: translateY(10%);
}
.banner__section.--case {
  background-color: #0B1D24;
  color: #fff;
}
.banner__photo {
  position: relative;
  opacity: 0.9;
  width: 600px;
}
.banner__photo.--stretch {
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.banner__image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__content-img {
  overflow: hidden;
}
.banner__content-img img {
  width: 1346px;
  height: 950px;
}
.banner__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.banner__photos-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 15px);
  background-color: #738D97;
  border-radius: 40px;
}
.banner__photos-item:nth-child(2) {
  background-color: #9EB873;
}
.banner__photos-item:nth-child(3) {
  background-color: #9EB873;
}
.banner__info {
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  gap: 40px;
  width: 850px;
  justify-content: center;
}
.banner__info-title {
  font-size: 51px;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  text-wrap: nowrap;
}
.banner__info-title.--margin {
  margin-top: 40px;
}
.banner__info-subtitle, .banner__info-text {
  font-size: 24px;
}
.banner__info-subtitle {
  font-weight: bold;
}
.banner__info-text {
  opacity: 0.7;
  line-height: 140%;
}
.banner__info.--center {
  padding: 100px 0;
  text-align: center;
  align-items: center;
}
.banner__info.--gap {
  gap: 100px;
}
.banner__info.--fill {
  width: 100%;
}
.banner__info.--medium {
  width: 700px;
  padding-left: 0;
  padding-right: 100px;
  transform: translateX(-20%);
}
.banner__info.--small {
  width: 600px;
}
.banner__info.--huge {
  justify-content: flex-start;
  padding: 80px;
  width: 1000px;
}
.banner__info-target {
  position: relative;
  width: 128px;
  height: 128px;
}
.banner__info-target img {
  position: absolute;
  left: -15px;
  width: 100%;
  height: 100%;
}
.banner__chips {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 25px;
  height: -moz-fit-content;
  height: fit-content;
}
.banner__chips.--fill {
  margin-top: 30px;
  justify-content: flex-start;
  min-width: auto;
  max-width: 100%;
}
.banner__chips.-fill .banner__chip {
  background-color: rgba(26, 51, 60, 0.7960784314);
}
.banner__chip {
  background-color: #272727;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  padding: 25px 60px;
  opacity: 0.6;
  text-wrap: nowrap;
  font-size: 24px;
}
.banner__chip.--dark-bg {
  opacity: 1;
  background-color: #10242C;
}
.banner__cta {
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.banner__bottom .banner__photocards-img img {
  border-radius: 40px;
}
.banner__photocards {
  background-color: #D6E3E7;
  padding: 64px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
}
.banner__photocards-rows {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 20px;
}
.banner__photocards-columns {
  width: 40%;
  display: flex;
  gap: 20px;
}
.banner__photocards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1100px;
}
.banner__photocards-img.--margin {
  margin-bottom: 40px;
}
.banner__photocards-img img {
  border-radius: 10px;
}
.banner__photocards.--huge {
  padding: 80px;
}
.banner__photocards.--huge .banner__photocards-img {
  filter: drop-shadow(0 0 40px rgba(39, 39, 39, 0.1019607843));
}
.banner__photocards .banner__photos-item {
  background: none;
  width: calc(50% - 5px);
}

.text__grey {
  color: #929292;
}

.steps {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}
.steps__step {
  padding: 100px 60px;
  background-color: #142932;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 414.25px;
  max-width: 414.25px;
  position: relative;
}
.steps__step-number {
  padding: 15px;
  background-color: #71943A;
  border-radius: 50%;
  width: 76px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-family: "Unbounded", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.steps__step-title {
  font-size: 36px;
  font-weight: 600;
}
.steps__step-text {
  font-size: 24px;
  opacity: 0.7;
  line-height: 140%;
}

.btn {
  font-family: "Unbounded", sans-serif;
  color: #000;
  background-color: #01ff94;
  padding: 30px 30px;
  min-width: 300px;
  text-align: center;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.25s ease;
  text-wrap: nowrap;
  cursor: pointer;
}
.btn.--secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff;
}
.btn:hover {
  color: #272727;
  background-color: #fff;
}

.case-image__wrapper {
  position: relative;
  padding: 100px 0;
  transform: translateX(-10%);
  z-index: 3;
}
.case-image__wrapper:after {
  content: "";
  position: absolute;
  top: -100px;
  right: -1350px;
  border-radius: 45%;
  background-color: #71943A;
  width: 2000px;
  height: 140%;
  z-index: -2;
}
.case-image__wrapper.--bottom {
  transform: translateX(-5%) scale(0.9);
  padding: 0;
}
.case-image__wrapper.--bottom:after {
  top: 500px;
  right: -160px;
  width: 1500px;
  height: 150%;
}
.case-image__wrapper.--invert {
  transform: translateX(-2%);
  padding: 0;
}
.case-image__wrapper.--invert:after {
  right: auto;
  left: -1050px;
}
.case-image__wrapper.--invert .case-image {
  transform: scale(0.9);
}
.case-image__wrapper.--small {
  padding: 0;
  transform: translateX(-10%);
}
.case-image__wrapper.--small .case-image {
  width: 1100px;
}

.case-image {
  width: auto;
}

.case-video {
  position: absolute;
  left: 305px;
  top: -69px;
  z-index: -1;
}

.case-neighbour {
  position: absolute;
  bottom: 100px;
  left: 120px;
  width: 300px;
}
.case-neighbour.--transform-1 {
  transform: translate(-10%, 20%);
}

.projects {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
.projects__banner {
  --text-padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: calc(100% - var(--text-padding) * 2 - 60px);
  background-color: #fff;
  border-radius: 40px;
  padding: var(--text-padding);
  transition: transform 0.5s ease;
  transform: translateY(5%);
}
.projects__banner-link {
  min-width: 130px;
  min-height: 130px;
  border-radius: 50%;
  background-color: #01ff94;
  transition: transform 0.25s ease;
}
.projects__banner-icon {
  background-image: url("./public/link.svg");
  background-size: 43.3333333333px;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 130px;
  transition: inherit;
}
.projects__banner:hover .projects__banner-link {
  transform: scale(1.1);
  background-position: 60%;
}
.projects__banner:hover .projects__banner-icon {
  transform: rotate(-45deg);
}
.projects__item {
  position: relative;
  width: calc(50% - 15px);
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}
.projects__item-background {
  width: 100%;
  height: 100%;
}
.projects__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
  justify-content: flex-end;
  color: #000;
}
.projects__item-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.8;
}
.projects__item-title {
  font-weight: 600;
  font-size: 38px;
  font-family: "Unbounded", sans-serif;
}
.projects__item-desc {
  font-size: 24px;
  font-weight: 500;
  opacity: 0.7;
}
.projects__item:hover .projects__item-hover {
  opacity: 1;
  pointer-events: all;
}
.projects__item:hover .projects__banner {
  transform: translateY(0%);
}

.tabs {
  display: flex;
  gap: 40px;
  align-items: center;
}
.tabs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 500;
  padding: 16px 40px;
  border-bottom: 2px solid #272727;
  cursor: pointer;
  transition: all 0.25s ease;
}
.tabs__item.--active, .tabs__item:hover {
  opacity: 1;
  text-shadow: 0 0 0.5px #272727, 0 0 0.5px #272727;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
.pagination__item {
  width: 24px;
  height: 24px;
  padding: 30px;
  font-size: 32px;
  font-family: "Unbounded", sans-serif;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid #272727;
  opacity: 0.5;
  transition: all 0.25s ease;
}
.pagination__item.--active, .pagination__item:hover {
  opacity: 1;
  font-weight: 600;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 2560px;
  height: 1278px;
  background-color: #fff;
  z-index: 5;
  opacity: 0;
  transition: all 0.25s ease;
  transform: scale(0.8);
  pointer-events: none;
}
.popup.--active {
  pointer-events: all;
  transform: scale(1);
  opacity: 1;
}
.popup__content {
  width: 100%;
  height: 100%;
}
.popup__content-iframe {
  width: 100%;
  height: 100%;
}
.popup__header {
  width: 99%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.popup__header-close {
  background-image: url("./public/close.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.25s ease, transform 0.35s ease;
}
.popup__header-close:hover {
  opacity: 1;
  transform: rotate(360deg);
}

.--text-small {
  width: 800px;
}

@media only screen and (max-width: 1000px) {
  :root {
    --resp-padding: 20px;
  }
  body {
    background-color: #fafafa;
  }
  .wrapper {
    margin: 10px;
    gap: 10px;
  }
  img {
    border-radius: 20px;
  }
  .banner {
    border-radius: 20px;
    padding: 0px;
    flex-direction: column;
    gap: 0;
  }
  .banner__section {
    width: 100%;
    flex-direction: column;
    border-radius: 20px;
  }
  .banner__photo {
    margin: var(--resp-padding);
    border-radius: 20px;
    width: calc(100% - var(--resp-padding) * 2);
    overflow: hidden;
  }
  .banner__photo.--stretch {
    height: 35vh;
  }
  .banner__photo img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner__photos {
    flex-direction: column;
    gap: 10px;
  }
  .banner__photos-item {
    width: 100%;
  }
  .banner__photos-item:nth-child(3) {
    display: none;
  }
  .banner__photos-item:nth-child(4) {
    display: none;
  }
  .banner__photocards {
    padding: var(--resp-padding);
    gap: 10px;
    flex-direction: column;
    border-radius: 20px;
  }
  .banner__photocards.--mobile-row {
    flex-direction: row;
  }
  .banner__photocards-img.--margin {
    margin-bottom: 0;
  }
  .banner__photocards.--huge {
    padding: var(--resp-padding);
  }
  .banner__photocards-rows {
    width: 100%;
    gap: 10px;
  }
  .banner__photocards-columns {
    width: 100%;
    gap: 10px;
  }
  .banner__photocards-wrapper {
    width: 100%;
  }
  .banner__photos-item {
    border-radius: 20px;
  }
  .banner__info {
    padding: var(--resp-padding);
    width: calc(100% - var(--resp-padding) * 2);
    gap: 15px;
  }
  .banner__info.--mobile-nopadding {
    padding-top: 0;
  }
  .banner__info:last-child {
    padding-bottom: 50px;
  }
  .banner__info.--center {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .banner__info.--small {
    width: calc(100% - var(--resp-padding) * 2);
  }
  .banner__info.--huge {
    width: calc(100% - var(--resp-padding) * 2);
    padding: var(--resp-padding);
  }
  .banner__info.--fill {
    padding: 60px var(--resp-padding);
    width: calc(100% - var(--resp-padding) * 2);
  }
  .banner__info.--medium {
    width: calc(100% - 40px);
    padding: 20px;
    padding-bottom: 50px;
    transform: none;
  }
  .banner__info-title {
    text-wrap: wrap;
    font-size: 22px;
    display: flex;
    flex-direction: column;
  }
  .banner__info-title.--margin {
    margin-top: 30px;
  }
  .banner__info-subtitle, .banner__info-text {
    font-size: 13px;
    text-wrap: balance;
    line-height: 140%;
    display: block;
  }
  .banner__info-target {
    width: 64px;
    height: 64px;
  }
  .banner__info-target img {
    left: -5px;
  }
  .banner__chips {
    gap: 10px;
  }
  .banner__chip {
    font-size: 12px;
    padding: 20px;
  }
  .banner__chip.--dark-bg {
    width: 100%;
    text-align: center;
  }
  .banner__section .banner__chips {
    display: none;
  }
  .banner__section .banner__chips.--fill {
    margin-top: 0;
    display: flex;
  }
  .banner__cta {
    width: 100%;
    flex-direction: column;
  }
  .banner.--case {
    flex-direction: column-reverse;
  }
  .banner.--grey {
    flex-direction: column-reverse;
  }
  .banner.--reverse-resp {
    flex-direction: column;
  }
  .banner.--target {
    gap: 10px;
  }
  .banner.--photo-trim {
    max-height: 2000px;
  }
  .banner__image {
    height: 40vh;
  }
  .banner__content-img img {
    width: 100%;
    height: 100%;
  }
  .tabs {
    display: none;
    margin-top: 10px;
    overflow-x: auto;
    padding-bottom: 20px;
  }
  .tabs__item {
    font-size: 16px;
    min-width: 100px;
  }
  .steps {
    flex-direction: column;
    gap: 20px;
  }
  .steps__step {
    padding: 20px;
    width: calc(100% - 40px);
    max-width: none;
    gap: 10px;
    border-radius: 20px;
  }
  .steps__step-number {
    width: 24px;
    height: 24px;
    font-size: 18px;
  }
  .steps__step-title {
    font-size: 20px;
  }
  .steps__step-text {
    font-size: 14px;
  }
  .projects {
    margin-top: 20px;
    flex-flow: column nowrap;
  }
  .projects__banner {
    --text-padding: 20px;
    width: calc(100% - var(--text-padding) * 2);
    left: 0;
    bottom: 0;
    border-radius: 20px;
    filter: drop-shadow(0 0 4px rgba(20, 20, 20, 0.1));
  }
  .projects__banner-link {
    min-width: 48px;
    min-height: 48px;
  }
  .projects__banner-icon {
    width: 48px;
    height: 48px;
    background-size: 16px;
  }
  .projects__item {
    overflow: visible;
    width: 100%;
    margin-bottom: 120px;
  }
  .projects__item-text {
    gap: 10px;
  }
  .projects__item-title {
    font-size: 18px;
  }
  .projects__item-desc {
    font-size: 12px;
    opacity: 1;
  }
  .projects__item-hover {
    background: none;
    opacity: 1;
    transform: translateY(120px);
  }
  .projects__item-background img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .btn {
    min-width: auto;
    font-size: 14px;
    padding: 20px 0;
  }
  .pagination {
    display: none;
  }
  .case-video {
    left: 53%;
    top: 0;
    width: 67vw;
    height: 40vw;
    transform: translate(-50%, 21%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .case-video video {
    width: 90%;
    height: 100%;
  }
  .case-neighbour {
    bottom: 0;
    left: 0;
    transform: translateX(25%);
    width: 20vw;
  }
  .case-neighbour.--transform-1 {
    transform: translateX(25%);
  }
  .case-image__wrapper {
    transform: none;
    padding: 20px 10px;
    padding-top: 50px;
  }
  .case-image__wrapper.--invert {
    transform: none;
  }
  .case-image__wrapper.--invert:after {
    top: 0;
    left: 50%;
  }
  .case-image__wrapper:after {
    left: 50%;
    top: 0;
    width: 120vw;
    height: 120vw;
    border-radius: 50%;
    transform: translate(-50%, -60%);
  }
  .case-image__wrapper.--small {
    transform: none;
    z-index: -2;
  }
  .case-image__wrapper.--small:after {
    top: 0;
  }
  .case-image__wrapper.--small .case-image {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */